### Generate TF-IDF means

In [68]:
# libraries
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [69]:
ss_scrape = pd.read_csv('data/ss_scrape.csv')
gpt2_scrape = pd.read_csv('data/gpt2_scrape.csv')
df_freq = pd.read_csv('data/df_freq.csv')

In [70]:
# concat subreddits
both_scrape = pd.concat([ss_scrape, gpt2_scrape], sort=False)
X = both_scrape['title']
y = both_scrape['sr']

In [71]:
# tf-idf transform
tfid = TfidfVectorizer(max_features=15000, ngram_range=(1,3), token_pattern=r'\b[^\d\W]+\b')
X = tfid.fit_transform(X)
X = pd.DataFrame(X.toarray(), columns=tfid.get_feature_names())
X = X[df_freq['word']]
X.head(3)

,lost,number,m not,does the,create a,upvotes,photo on,calls,tittyfuck bitch shit,in the uk,...,fictional,a slave,computer plz,into a bar,standing,man in a,take a picture,do i get,a dick pic,ate
0,0.0,0.20784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
# return top 5 words by tf-idf for document
def top_words_in_row(row):
    ret = X.loc[row].sort_values(ascending=False)
    #ret = ret[ret>.05] # <-- top words = with tf-idf >.05
    return ret

In [79]:
top_words_in_row(4)[top_words_in_row(4)!=0]

redditors         0.231990
common            0.225941
reddit what       0.208992
of reddit what    0.208992
my mom            0.202943
bed               0.200287
makes             0.197828
of reddit         0.191386
mom               0.189489
what s the        0.187695
s the             0.181356
what s            0.171452
the most          0.168388
reddit            0.160596
most              0.160596
what              0.118701
s                 0.103823
my                0.092382
in                0.087522
of                0.080340
the               0.065213
Name: 4, dtype: float64

In [73]:
tfidf_df = pd.DataFrame()
for row in X.index:
    row_df = pd.DataFrame(top_words_in_row(row))
    tfidf_df = tfidf_df.merge(row_df, how='outer', left_index=True,  right_index=True,)

In [75]:
#export
tfidf_df.to_csv('data/top_tfidf.csv')